
.wapper__slider {
  margin-top: 55px;
  .item {
    .wapper__silder-block1 {
      .wapper__silder-img {
        position: relative;
        img{
          width: 100%;
        }
        .lable {
          position: absolute;
          padding: 0;
          top: 22px;
          right: 19px;
          background-color: #d62963;
          border-radius: 17px;
          font-size: 75%;
          font-weight: 700;

          color: #fff;
          display: inline;
          white-space: nowrap;
          vertical-align: baseline;

          .popular {
            text-align: center;
            border-radius: 12px;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            width: 81px;
            height: 5px;
          }
        }
        .price {
          background-color: #fc887b;
          position: absolute;
          left: 22px;
          border-radius: 13px;
          color: white;
          bottom: 19px;
          width: 65px;
          text-align: center;
          p{
            font-size: 13px;
            font-weight: 700;
            line-height: 28px;
            display: flex;
            padding-right: 10px;
            height: 28px;
            align-items: center;
            margin-bottom: 0;
            margin-left: 12px;
          }
        }
        .rate {
          float: left;
          height: 46px;
          position: absolute;
          right: 11px;
          .star-rate{
            font-size: 18px;
          }
        }
        }
        .rate:not(:checked) > input {
          position:absolute;
          top:-9999px;
        }
        .rate:not(:checked) > label {
          float:right;
          width:1em;
          overflow:hidden;
          white-space:nowrap;
          cursor:pointer;
          font-size:30px;
          color:#ccc;
        }
        .rate:not(:checked) > label:before {
          content: '★ ';
        }
        .rate > input:checked ~ label {
          color: #ffc700;
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
          color: #deb217;
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
          color: #c59b08;
        }
      }

      .wapper__silder-footer {
        border-bottom: 1px solid #e5e5e5;
        border-top: none;
        padding: 15px 30px;
        .wapper__silder-content {
          font-family: Lato;
          font-weight: 400;
          font-size: 16px;
          .h3{
            font-size: 24px;
            font-weight: 700;
            font-family: Playfair Display;
            color: #2b3840;
          }
          p{
            font-weight: 400;
            font-size: 16px;
          }
          .wapper__siler-content-footer {
            display: flex;
            justify-content: space-between;
            i{
              color: #fc887b;
            }
            .icon__content--footer {
              margin-left: 12px;
            }
            button {
              padding: 3px 20px;
              border-radius: 16px;
              font-weight: 700;
              border: 1px solid #e5e5e5;
            }
          }
        }
      }

      .wapper__silder-heart {

        display: flex;
        border-top: none;
        justify-content: space-between;
        padding: 3px 29px;
        line-height: 43px;
        height: 50px;

          i{
            height: 35px;
            width: 35px;
            border: solid 1px #e5e5e5;
            border-radius: 50px;
            padding: 25%;
            &:hover{
              color: #fc887b;
            }
          }
        }
      }

    }
.wapper__silder-heart>p:hover{
  color: #fc887b;
}
.wapper__siler-content-footer>button{
  background-color: white;
}
.wapper-fotter{
  border: 1px solid #e5e5e5;
  &:hover{
    border-color: #fc887b;
  }
}


.element-button {
  text-align: center;
  margin-top: -45px;

  button {
    display: inline-block;
    background-color: #fc887b;
    font-size: 16px;
    line-height: 30px;
    padding: 0 49px;
    height: 50px;
    text-align: center;
    color: #fff;
    border: none;
    margin-top: 50px;
  }
}

.icon-next-1:before {
  content: "\e912";
  position: absolute;
  left: 102%;
  top: 45%;
  font-size: 38px;
  width: 90px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding-top: 5px;
  font-weight: 600;
  opacity: .5;
}

.icon-previous:before {
  content: "\e911";
  position: absolute;
  left: -10%;
  top: 45%;
  font-size: 38px;
  width: 90px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding-top: 5px;
  &:hover{
    background-color: #fc887b!important;
    color: red!important;
  }
}
.owl-prev:hover{
  background-color: #fc887b!important;
}


.rate-library{
  top: 213px!important;
}
.icon-tags{
  padding-right: 9px!important;
}
@media (min-width: 768px) and (max-width: 991px){
  .owl-dots{
    margin-top: 30px!important;
  }
  .element-button{
    margin-top: 26px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
 .rate{
   top: 173px!important;
 }
  .icon-previous:before {
    content: "\e911";
    position: absolute;
    left: -2%;
    top: 44%;
    font-size: 28px;
    width: 55px;
    height: 32px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background: #fff;
    z-index: 10;
    padding-top: 1px;
    }
  .icon-next-1:before {
    content: "\e912";
    position: absolute;
    left: 96%;
    top: 44%;
    font-size: 28px;
    width: 55px;
    height: 32px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background: #fff;
    z-index: 10;
    padding-top: 1px;
  }
  //bg-video

  .text__bg-video{
    display: none;
  }
  .bg-video{
    height: 400px!important;
  }
  .content__bg-video{
    bottom: 72%!important;
    left: 47%!important;
  }
  //text-under-bgvideo
  .text-content__under-bg-video{
    padding: 0px 139px!important;
  }

  //library
  .wapper__silder-content{
    h3{
      font-size: 24px!important;
    }
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .wapper__siler-content-footer{
    .icon__content--footer{
      margin-left: 3px!important;
    }
    button{
      padding: 3px 10px!important;
      border-radius: 15px!important;
      background-color: white!important;
    }
  }
  .footer-tittle-main{
    h4{
      font-size: 18px!important;
    }
  }
  .footer-link{
    a{
      margin-left: 1px;
    }
  }
  .footer-icon-phone{
    font-size: 16px!important;
    i{
      margin-right: 8px!important;
    }
  }
  .footer-input{
    input{
      width: 240px!important;
    }
    button{
      margin-left: 0!important;
      width: 168px!important;
    }
  }
  .element_right_app-phone{
    margin-top: 108px!important;
  }
  .news-text{
    margin-left: -184px!important;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .border__element{
    width: 210px!important;
    height: 343px!important;
  }
  .nav-tabs{
    margin-left: 79px!important;
  }
  .place-genarel{
    height: 1990px!important;
  }
  .image-3-place-6image{
    padding-top: 45px;
  }
  .news-text {
    margin-left: -140px!important;
    margin-top: -2px!important;
  }
  .bg__image-retreat{
    height: 400px!important;
  }
  .wapper__bg-retreat {
    padding-top: 69px!important;
  }
  .element_right_app-phone {
    margin-top: 25px!important;
  }
  .newsletter h1 {
    font-size: 20px!important;
  }
  .newsletter {
    margin-left: 14px!important;
    margin-top: 33px!important;
  }
  .footer-input input {
    width: 200px!important;
  }
  .footer .header-footer .footer-input button {
    margin-left: 0!important;
    width: 126px!important;
  }
  .footer-tittle-main{
    h4{
      font-size: 18px!important;
    }
  }
  .footer-tittle_2 {
   margin-left: 0!important;
  }
  .midle-footer .footer-tittle_1 {
    margin-left: 0!important;
  }
  .footer-icon-phone p {
    margin-left: 0!important;
    font-size: 18px!important;
    margin-top: 9px!important;
  }
  .footer-icon-email {
    margin-top: -20px!important;
  }
  .footer-icon-email p {
    margin-left: 2px!important;
  }
  .footer-link {
    margin-left: 2px!important;
  }
  .footer-tittle-icon ul li a {
    width: 30px!important;
    height: 30px!important;
    line-height: 30px!important;
  }
  }