.place-genarel{
  background: url("../image/places.jpg");
  width: 100%;
  height: 1516px;
  margin-top: 83px;
.main-place{
  margin-bottom: 57px;
  .nav-tabs{
    border-bottom:none;
    margin-top: 49px;
    margin-left: 306px;
    .nav-item{
      padding: 0 11px;
      border: none;
      &:hover{
        border: none!important;
      }
      .nav-link{
        &:hover{
          border: none;
        }
        color: white;
        &:active {
          background-color: #fc887b;
          border:none;
        }

      }
    }
  }
  .active{
    background-color: #fc887b!important;
    border: none;
  }
  .under__place{
    margin-top: 73px;

    h2{
      color: white;
      margin-top: 72px;
    }
    .line__place{
      color: white;
    }
    .text__under-place{
      color: white;
    }
  }


}
}




.ct{
  margin-top: 55px;
  padding: 0 15px;
  margin-left: 14px;
  .img-need-margin{
    margin-top: 44px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
 .nav-tabs{
   margin-left: 184px!important;
 }
}
.wapper__place-image{
  height: 100%;
}
.wapper__place-image{
  .wapeer__place-head{
    display: flex;
    .wapper__silder-block1 {
      .wapper-fotter{
        background-color: white;
        .wapper__silder-footer {
          border-bottom: 1px solid #e5e5e5;
          border-top: none;
          padding: 15px 30px;



          .wapper__silder-content {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            .h3{
              font-size: 24px;
              font-weight: 700;
              font-family: Playfair Display;
              color: #2b3840;
            }
            p{
              font-weight: 400;
              font-size: 16px;
            }
            .wapper__siler-content-footer {
              display: flex;
              justify-content: space-between;
              i{
                color: #fc887b;
              }
              .icon__content--footer {
                margin-left: 12px;
              }

              button {
                padding: 3px 20px;
                border-radius: 16px;
                font-weight: 700;
                border: 1px solid #e5e5e5;
              }
            }
          }
        }
        .wapper__silder-heart {

          display: flex;
          border-top: none;
          justify-content: space-between;
          padding: 3px 29px;
          line-height: 43px;
          height: 50px;
          span{
            height: 35px;
            width: 35px;
            border: solid 1px #e5e5e5;
            border-radius: 50px;
            margin-top: 3px;
            i{
              position: absolute;
              left: 309px;
              margin-top: 10px;
              &:hover{
                color: #fc887b;
              }
            }
          }
        }
      }
      .wapper__silder-img {
        position: relative;
        img{
          width: 100%;
        }
        .lable {
          position: absolute;
          padding: 0;
          top: 22px;
          right: 19px;
          background-color: #d62963;
          border-radius: 17px;
          font-size: 75%;
          font-weight: 700;
          line-height: 21px;
          color: #fff;
          display: inline;
          white-space: nowrap;
          vertical-align: baseline;

          .popular {
            text-align: center;

            border-radius: 12px;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            width: 81px;
            height: 5px;

          }


        }
        .price {
          background-color: #fc887b;
          position: absolute;
          left: 22px;
          border-radius: 13px;
          color: white;
          bottom: 19px;
          width: 65px;
          text-align: center;

          p{

            font-size: 13px;
            font-weight: 700;
            line-height: 28px;
            display: flex;
            padding-right: 10px;
            height: 28px;
            align-items: center;
            margin-bottom: 0;
            margin-left: 12px;
          }
        }
        .rate {
          float: left;
          height: 46px;
          position: absolute;
          top: 198px;
          right: 11px;
          .star-rate{
            font-size: 18px;

          }
        }
      }
      .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
      }
      .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
      }
      .rate:not(:checked) > label:before {
        content: '★ ';
      }
      .rate > input:checked ~ label {
        color: #ffc700;
      }
      .rate:not(:checked) > label:hover,
      .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
      }
      .rate > input:checked + label:hover,
      .rate > input:checked + label:hover ~ label,
      .rate > input:checked ~ label:hover,
      .rate > input:checked ~ label:hover ~ label,
      .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
      }
    }
  }
  .wapeer__place-under{
    display: flex;
    .wapper__silder-block1 {
      .wapper-fotter{
        background-color: white;
        .wapper__silder-footer {
          border-bottom: 1px solid #e5e5e5;
          border-top: none;
          padding: 15px 30px;



          .wapper__silder-content {
            font-family: Lato;
            font-weight: 400;
            font-size: 16px;
            .h3{
              font-size: 24px;
              font-weight: 700;
              font-family: Playfair Display;
              color: #2b3840;
            }
            p{
              font-weight: 400;
              font-size: 16px;
            }
            .wapper__siler-content-footer {
              display: flex;
              justify-content: space-between;
              i{
                color: #fc887b;
              }
              .icon__content--footer {
                margin-left: 12px;
              }

              button {
                padding: 3px 20px;
                border-radius: 16px;
                font-weight: 700;
                border: 1px solid #e5e5e5;
              }
            }
          }
        }
        .wapper__silder-heart {

          display: flex;
          border-top: none;
          justify-content: space-between;
          padding: 3px 29px;
          line-height: 43px;
          height: 50px;
          span{
            >i{
              height: 35px;
              width: 35px;
              border: solid 1px #e5e5e5;
              border-radius: 50px;
              padding: 25%;
              &:hover{
                color: #fc887b;
              }
            }
          }


        }
      }
      .wapper__silder-img {
        position: relative;
        img{
          width: 100%;
        }
        .lable {
          position: absolute;
          padding: 0;
          top: 22px;
          right: 19px;
          background-color: #d62963;
          border-radius: 17px;
          font-size: 75%;
          font-weight: 700;

          color: #fff;
          display: inline;
          white-space: nowrap;
          vertical-align: baseline;

          .popular {
            text-align: center;

            border-radius: 12px;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            width: 81px;
            height: 5px;

          }


        }
        .price {
          background-color: #fc887b;
          position: absolute;
          left: 22px;
          border-radius: 13px;
          color: white;
          bottom: 19px;
          width: 65px;
          text-align: center;

          p{

            font-size: 13px;
            font-weight: 700;
            line-height: 28px;
            display: flex;
            padding-right: 10px;
            height: 28px;
            align-items: center;
            margin-bottom: 0;
            margin-left: 12px;
          }
        }
        .rate {
          float: left;
          height: 46px;
          position: absolute;
          top: 198px;
          right: 11px;
          .star-rate{
            font-size: 18px;

          }
        }
      }
      .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
      }
      .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
      }
      .rate:not(:checked) > label:before {
        content: '★ ';
      }
      .rate > input:checked ~ label {
        color: #ffc700;
      }
      .rate:not(:checked) > label:hover,
      .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
      }
      .rate > input:checked + label:hover,
      .rate > input:checked + label:hover ~ label,
      .rate > input:checked ~ label:hover,
      .rate > input:checked ~ label:hover ~ label,
      .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
      }
    }
  }
}

.wapper__silder-heart>span>i{

  height: 35px!important;
  width: 35px ;
  border: solid 1px #e5e5e5;
  border-radius: 50px;
  padding: 25%;
  position: unset!important;
  left: unset!important;
  margin-top: unset!important;
}
.wapper__silder-heart>span{
  height: unset!important;
  width: unset!important;
  border: unset!important;
  border-radius: unset!important;
  margin-top: unset!important;
}