@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none; }

html, body {
  width: auto !important;
  overflow-x: hidden !important; }

.main {
  background-color: #2b3840;
  height: 50px;
  line-height: 50px;
  font-family: 'Lato', sans-serif !important;
  font-size: 14px; }
  .main .login-header {
    text-align: end;
    margin-left: 26px; }
  .main .top-header {
    color: #ffffff;
    display: flex;
    padding: 0px; }
    .main .top-header .nav-top-header {
      display: flex;
      float: left;
      margin-left: 3px; }
      .main .top-header .nav-top-header #content2 {
        margin-left: 35px;
        margin-right: 11px;
        color: #fc887b; }
      .main .top-header .nav-top-header .content1 {
        margin-left: 5px; }
      .main .top-header .nav-top-header .content3 {
        margin-left: 19px; }
        .main .top-header .nav-top-header .content3 #content3 {
          padding-right: 9px;
          color: #fc887b; }
    .main .top-header .login-header .login {
      margin-right: 1px; }
      .main .top-header .login-header .login .content {
        margin-right: 13px;
        color: #fc887b; }
      .main .top-header .login-header .login .name-login {
        margin-right: 22px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .content1 {
    margin-left: -10px; }

  .name-login {
    margin-right: 38px; } }
@media (max-width: 767px) {
  .event {
    display: none; }

  #content2 {
    display: none; }

  .content3 {
    margin-left: -12px !important; }

  .name-login {
    margin-right: 0px !important; } }
/*under-header*/
.under-header .under-header1 .logo img {
  width: 170px;
  height: 70px;
  margin: -14px;
  margin-left: -1px;
  margin-top: 13px; }
.under-header .under-header1 .menu {
  position: relative; }
  .under-header .under-header1 .menu ul {
    position: absolute;
    left: 178px;
    top: 25px;
    font-weight: 400;
    font-size: 16px; }
    .under-header .under-header1 .menu ul li {
      list-style-type: none;
      display: inline;
      margin-left: 31px; }
      .under-header .under-header1 .menu ul li a {
        color: black;
        font-size: 16px;
        line-height: 32px;
        font-weight: normal;
        text-decoration: none; }
    .under-header .under-header1 .menu ul #button-menu {
      background-color: #fc887b;
      color: white;
      text-align: center;
      width: 150px;
      height: 48px;
      line-height: 48px;
      margin-left: 30px;
      border: none; }

.top-mobi {
  color: #fc887b;
  display: none;
  margin-left: 670px;
  font-size: 28px;
  margin-top: 37px; }

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: white;
  z-index: 10000;
  transform: translateX(-100%); }
  .nav__mobile .nav__mobile-list {
    padding: 78px; }
    .nav__mobile .nav__mobile-list button {
      background-color: #fc887b;
      border-radius: 30px;
      border: none;
      display: block;
      text-align: center;
      color: #fff;
      height: 50px;
      line-height: 30px;
      min-width: 90%;
      margin-left: 28px;
      margin-top: 25px; }
    .nav__mobile .nav__mobile-list .nav__mobile-link {
      text-decoration: none !important;
      color: #333;
      display: block;
      padding: 8px 0;
      font-size: 1.4rem; }
  .nav__mobile .nav__mobile-close {
    font-size: 40px;
    color: #333;
    position: absolute;
    top: 1rem;
    right: 1rem; }

#nav-mobie-input:checked ~ .nav__mobile {
  transform: translateX(0%); }

@media (min-width: 992px) and (max-width: 1199px) {
  .under-header .under-header1 .menu ul {
    left: 108px !important; }
    .under-header .under-header1 .menu ul li {
      margin-left: 24px !important; }
    .under-header .under-header1 .menu ul .icon__search-menu {
      display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .menu {
    display: none; }

  .top-mobi {
    display: block; }

  .logo img {
    margin-top: -102px !important; }

  .slide-show {
    margin-top: -22px !important; } }
@media (max-width: 767px) {
  .menu {
    display: none; }

  .top-mobi {
    display: block;
    margin-top: 18px;
    margin-left: 358px; }

  .logo img {
    margin-top: -99px !important; }

  .slide-show {
    margin-top: -22px !important; } }
/*slideshow*/
.slide-show {
  padding: 10%;
  margin-top: 33px;
  background-image: url("http://demo12.cmsmart.net/retreatclub_tf/home3/wp-content/uploads/2020/07/banner-home-3-.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  height: 750px; }
  .slide-show img {
    width: 100%;
    margin-top: 20px; }
  .slide-show .content-slide-show {
    width: 100%;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-top: 44px;
    top: 0;
    left: 0; }
    .slide-show .content-slide-show h3 {
      font-size: 30px;
      font-weight: 700; }
    .slide-show .content-slide-show h2 {
      font-family: "Playfair Display", Sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 73px;
      padding: 0px 202px 0 0; }
    .slide-show .content-slide-show .content__slideshow-block-sreach {
      max-width: 710px;
      padding: 0;
      border-bottom: 0;
      display: flex; }
      .slide-show .content-slide-show .content__slideshow-block-sreach input, .slide-show .content-slide-show .content__slideshow-block-sreach select, .slide-show .content-slide-show .content__slideshow-block-sreach button {
        height: 50px;
        width: 250px;
        border: none;
        margin-top: 24px;
        outline: none;
        font-size: 14px;
        font: inherit; }
      .slide-show .content-slide-show .content__slideshow-block-sreach input {
        padding: 0 25px;
        color: #797979;
        border-right: solid 4px;
        background-image: url("../image/line-img.jpg");
        background-repeat: no-repeat;
        background-position: top 10px right 13px; }
      .slide-show .content-slide-show .content__slideshow-block-sreach select {
        color: #797979;
        margin-left: -7px;
        padding: 0 25px;
        appearance: none;
        background-image: url("../image/selct-item.jpg");
        background-repeat: no-repeat;
        background-position: top 24px right 32px;
        width: 285px; }
      .slide-show .content-slide-show .content__slideshow-block-sreach button {
        margin-left: -5px;
        background-color: #2b3840;
        color: white;
        width: 210px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .slide-show .content-slide-show {
    margin-top: 215px; }
    .slide-show .content-slide-show h3 {
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      font-family: Playfair Display; }
    .slide-show .content-slide-show h2 {
      text-align: center;
      font-weight: 400;
      font-size: 35px;
      padding: 0;
      margin-top: -15px; }
    .slide-show .content-slide-show .content__slideshow-block-sreach {
      margin-left: 50px;
      margin-top: -29px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .slide-show .content-slide-show {
    margin-top: 130px; }
    .slide-show .content-slide-show h3 {
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      font-family: Playfair Display; }
    .slide-show .content-slide-show h2 {
      text-align: center;
      font-weight: 400;
      font-size: 31px;
      padding: 0;
      margin-top: -15px;
      line-height: 42px; }
    .slide-show .content-slide-show .content__slideshow-block-sreach {
      background: #fff;
      max-width: 425px;
      margin: auto;
      padding: 25px 25px 25px 25px;
      display: inherit;
      text-align: center; }
      .slide-show .content-slide-show .content__slideshow-block-sreach input {
        background-image: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding: 0; }
      .slide-show .content-slide-show .content__slideshow-block-sreach select {
        border-bottom: 1px solid #ccc;
        margin-left: 0;
        width: 100%;
        padding: 0; }
      .slide-show .content-slide-show .content__slideshow-block-sreach button {
        width: 100%;
        padding: 0; } }
@media (max-width: 767px) {
  .slide-show .content-slide-show {
    margin-top: 82px; }
    .slide-show .content-slide-show h3 {
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      font-family: Playfair Display; }
    .slide-show .content-slide-show h2 {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      padding: 0;
      margin-top: 25px;
      line-height: 45px;
      margin-bottom: 30px; }
    .slide-show .content-slide-show .content__slideshow-block-sreach {
      position: absolute;
      width: 100%;
      right: 0px;
      padding: 0;
      text-align: inherit !important;
      background: #fff;
      max-width: 425px;
      margin: auto;
      padding: 25px 25px 25px 25px;
      display: inherit;
      text-align: center; }
      .slide-show .content-slide-show .content__slideshow-block-sreach input {
        background-image: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        width: 100%; }
      .slide-show .content-slide-show .content__slideshow-block-sreach select {
        border-bottom: 1px solid #ccc;
        margin-left: 0;
        width: 100%; }
      .slide-show .content-slide-show .content__slideshow-block-sreach button {
        margin-left: 0px;
        width: 100%; } }
.main-category {
  border-bottom: 1px solid #e5e5e5; }
  .main-category .category-top {
    border-right: 1px solid #e5e5e5; }
    .main-category .category-top .item {
      height: 180px;
      border-left: 1px solid  #e5e5e5;
      text-align: center;
      padding-top: 42px; }
      .main-category .category-top .item .icon__category-top {
        font-size: 55px;
        color: #2b3840; }
      .main-category .category-top .item .content__item-category {
        color: #2b3840;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 6px; }
      .main-category .category-top .item:hover {
        background-color: #fc887b; }
        .main-category .category-top .item:hover .icon__category-top, .main-category .category-top .item:hover .content__item-category {
          color: white; }

.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.tittle {
  text-align: center;
  margin-top: 84px;
  font-weight: 450; }
  .tittle img {
    margin-top: -7px; }

.wapper__slider {
  margin-top: 55px; }
  .wapper__slider .item .wapper__silder-block1 .wapper__silder-img {
    position: relative; }
    .wapper__slider .item .wapper__silder-block1 .wapper__silder-img img {
      width: 100%; }
    .wapper__slider .item .wapper__silder-block1 .wapper__silder-img .lable {
      position: absolute;
      padding: 0;
      top: 22px;
      right: 19px;
      background-color: #d62963;
      border-radius: 17px;
      font-size: 75%;
      font-weight: 700;
      color: #fff;
      display: inline;
      white-space: nowrap;
      vertical-align: baseline; }
      .wapper__slider .item .wapper__silder-block1 .wapper__silder-img .lable .popular {
        text-align: center;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        width: 81px;
        height: 5px; }
    .wapper__slider .item .wapper__silder-block1 .wapper__silder-img .price {
      background-color: #fc887b;
      position: absolute;
      left: 22px;
      border-radius: 13px;
      color: white;
      bottom: 19px;
      width: 65px;
      text-align: center; }
      .wapper__slider .item .wapper__silder-block1 .wapper__silder-img .price p {
        font-size: 13px;
        font-weight: 700;
        line-height: 28px;
        display: flex;
        padding-right: 10px;
        height: 28px;
        align-items: center;
        margin-bottom: 0;
        margin-left: 12px; }
    .wapper__slider .item .wapper__silder-block1 .wapper__silder-img .rate {
      float: left;
      height: 46px;
      position: absolute;
      top: 198px;
      right: 11px; }
      .wapper__slider .item .wapper__silder-block1 .wapper__silder-img .rate .star-rate {
        font-size: 18px; }
  .wapper__slider .item .wapper__silder-block1 .rate:not(:checked) > input {
    position: absolute;
    top: -9999px; }
  .wapper__slider .item .wapper__silder-block1 .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc; }
  .wapper__slider .item .wapper__silder-block1 .rate:not(:checked) > label:before {
    content: '★ '; }
  .wapper__slider .item .wapper__silder-block1 .rate > input:checked ~ label {
    color: #ffc700; }
  .wapper__slider .item .wapper__silder-block1 .rate:not(:checked) > label:hover,
  .wapper__slider .item .wapper__silder-block1 .rate:not(:checked) > label:hover ~ label {
    color: #deb217; }
  .wapper__slider .item .wapper__silder-block1 .rate > input:checked + label:hover,
  .wapper__slider .item .wapper__silder-block1 .rate > input:checked + label:hover ~ label,
  .wapper__slider .item .wapper__silder-block1 .rate > input:checked ~ label:hover,
  .wapper__slider .item .wapper__silder-block1 .rate > input:checked ~ label:hover ~ label,
  .wapper__slider .item .wapper__silder-block1 .rate > label:hover ~ input:checked ~ label {
    color: #c59b08; }
  .wapper__slider .item .wapper__silder-footer {
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    padding: 15px 30px; }
    .wapper__slider .item .wapper__silder-footer .wapper__silder-content {
      font-family: Lato;
      font-weight: 400;
      font-size: 16px; }
      .wapper__slider .item .wapper__silder-footer .wapper__silder-content .h3 {
        font-size: 24px;
        font-weight: 700;
        font-family: Playfair Display;
        color: #2b3840; }
      .wapper__slider .item .wapper__silder-footer .wapper__silder-content p {
        font-weight: 400;
        font-size: 16px; }
      .wapper__slider .item .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer {
        display: flex;
        justify-content: space-between; }
        .wapper__slider .item .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer i {
          color: #fc887b; }
        .wapper__slider .item .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer .icon__content--footer {
          margin-left: 12px; }
        .wapper__slider .item .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer button {
          padding: 3px 20px;
          border-radius: 16px;
          font-weight: 700;
          border: 1px solid #e5e5e5; }
  .wapper__slider .item .wapper__silder-heart {
    display: flex;
    border-top: none;
    justify-content: space-between;
    padding: 3px 29px;
    line-height: 43px;
    height: 50px; }
    .wapper__slider .item .wapper__silder-heart i {
      height: 35px;
      width: 35px;
      border: solid 1px #e5e5e5;
      border-radius: 50px;
      padding: 25%; }
    .wapper__slider .item .wapper__silder-heart:hover {
      color: #fc887b; }

.wapper-fotter {
  border: 1px solid #e5e5e5; }
  .wapper-fotter:hover {
    border-color: #fc887b; }

.element-button {
  text-align: center;
  margin-top: -45px; }
  .element-button button {
    display: inline-block;
    background-color: #fc887b;
    font-size: 16px;
    line-height: 30px;
    padding: 0 49px;
    height: 50px;
    text-align: center;
    color: #fff;
    border: none;
    margin-top: 50px; }

.icon-next-1:before {
  content: "\e912";
  position: absolute;
  left: 102%;
  top: 45%;
  font-size: 38px;
  width: 90px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding-top: 5px; }
  .icon-next-1:before:hover {
    background-color: #fc887b;
    color: white; }

.icon-previous:before {
  content: "\e911";
  position: absolute;
  left: -10%;
  top: 45%;
  font-size: 38px;
  width: 90px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding-top: 5px; }
  .icon-previous:before:hover {
    background-color: #fc887b;
    color: white; }

@media (min-width: 768px) and (max-width: 991px) {
  .owl-dots {
    margin-top: 30px !important; }

  .element-button {
    margin-top: 26px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .rate {
    top: 173px !important; }

  .icon-previous:before {
    content: "\e911";
    position: absolute;
    left: -2%;
    top: 44%;
    font-size: 28px;
    width: 55px;
    height: 32px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background: #fff;
    z-index: 10;
    padding-top: 1px; }

  .icon-next-1:before {
    content: "\e912";
    position: absolute;
    left: 96%;
    top: 44%;
    font-size: 28px;
    width: 55px;
    height: 32px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background: #fff;
    z-index: 10;
    padding-top: 1px; }

  .text__bg-video {
    display: none; }

  .bg-video {
    height: 400px !important; }

  .content__bg-video {
    bottom: 72% !important;
    left: 47% !important; }

  .text-content__under-bg-video {
    padding: 0px 139px !important; }

  .wapper__silder-content h3 {
    font-size: 24px !important; }
  .wapper__silder-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }

  .wapper__siler-content-footer .icon__content--footer {
    margin-left: 3px !important; }
  .wapper__siler-content-footer button {
    padding: 3px 10px !important;
    border-radius: 15px !important; }

  .footer-tittle-main h4 {
    font-size: 18px !important; }

  .footer-link a {
    margin-left: 1px; }

  .footer-icon-phone {
    font-size: 16px !important; }
    .footer-icon-phone i {
      margin-right: 8px !important; }

  .footer-input input {
    width: 240px !important; }
  .footer-input button {
    margin-left: 0 !important;
    width: 168px !important; }

  .element_right_app-phone {
    margin-top: 108px !important; }

  .news-text {
    margin-left: -184px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .border__element {
    width: 210px !important;
    height: 343px !important; }

  .nav-tabs {
    margin-left: 79px !important; }

  .place-genarel {
    height: 1990px !important; }

  .image-3-place-6image {
    padding-top: 45px; }

  .news-text {
    margin-left: -140px !important;
    margin-top: -2px !important; }

  .bg__image-retreat {
    height: 400px !important; }

  .wapper__bg-retreat {
    padding-top: 69px !important; }

  .element_right_app-phone {
    margin-top: 25px !important; }

  .newsletter h1 {
    font-size: 20px !important; }

  .newsletter {
    margin-left: 14px !important;
    margin-top: 33px !important; }

  .footer-input input {
    width: 200px !important; }

  .footer .header-footer .footer-input button {
    margin-left: 0 !important;
    width: 126px !important; }

  .footer-tittle-main h4 {
    font-size: 18px !important; }

  .footer-tittle_2 {
    margin-left: 0 !important; }

  .midle-footer .footer-tittle_1 {
    margin-left: 0 !important; }

  .footer-icon-phone p {
    margin-left: 0 !important;
    font-size: 18px !important;
    margin-top: 9px !important; }

  .footer-icon-email {
    margin-top: -20px !important; }

  .footer-icon-email p {
    margin-left: 2px !important; }

  .footer-link {
    margin-left: 2px !important; }

  .footer-tittle-icon ul li a {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important; } }
.main__bg-video {
  position: relative;
  margin-top: 82px; }
  .main__bg-video .bg-video {
    background: url("../image/bg-video.jpg");
    width: 100%;
    height: 570px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .main__bg-video .content__bg-video {
    bottom: 27%;
    left: 33%;
    color: white;
    font-size: 100px;
    text-align: center;
    position: absolute; }
    .main__bg-video .content__bg-video span {
      position: absolute;
      top: -61%;
      left: 39%; }

.text__under-bg-video {
  margin-top: 79px; }
  .text__under-bg-video h2 {
    color: #2b3840;
    font-size: 34px;
    font-weight: 600; }
  .text__under-bg-video .text-content__under-bg-video {
    color: #797979;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    padding: 0px 241px; }

.element_service {
  margin-top: 88px;
  padding-left: 27px; }
  .element_service .element .wapper__element .border__element {
    width: 350px;
    height: 280px;
    border: 1px solid #d4d4d4;
    padding: 20px 28px 33px;
    position: relative; }
    .element_service .element .wapper__element .border__element .square_little-element {
      width: 127px;
      height: 127px;
      background: #2b3840;
      border: 1px solid transparent;
      color: white;
      margin: -50px 0 32px;
      position: relative; }
      .element_service .element .wapper__element .border__element .square_little-element span {
        font-size: 47px;
        position: absolute;
        top: 34%;
        left: 30%; }
    .element_service .element .wapper__element .border__element .number__element {
      position: absolute;
      left: 138px;
      top: 78px;
      background: #fc887b;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      line-height: 30px; }
    .element_service .element .wapper__element .border__element .content__element {
      text-align: left; }
      .element_service .element .wapper__element .border__element .content__element .text-head__element h5 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1;
        color: #2b3840; }
      .element_service .element .wapper__element .border__element .content__element .text-under__element {
        color: #797979;
        font-size: 16px;
        line-height: 26px;
        width: 100%; }

.icon-back::before {
  position: absolute;
  content: "";
  width: 128px;
  height: 13px;
  background-image: url(../image/Aroww.png);
  left: -50px;
  top: 15px;
  z-index: 1; }

.icon-back::after {
  position: absolute;
  content: "";
  width: 128px;
  height: 13px;
  right: -80px;
  top: 15px;
  background-image: url(../image/Aroww.png);
  z-index: 1; }

#headerPopup iframe {
  width: 100%;
  margin: 0 auto; }

#video {
  top: 22%;
  left: 29%;
  z-index: 10; }

#close {
  top: 12%;
  left: 70%;
  display: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .text__bg-video {
    display: none; }

  .bg-video {
    height: 400px !important; }

  .content__bg-video {
    bottom: 72% !important;
    left: 45% !important; }

  .main__bg-video {
    margin-top: 53px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .text-content__under-bg-video {
    padding: 0 !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .border__element {
    width: 290px !important; } }
.place-genarel {
  background: url("../image/places.jpg");
  width: 100%;
  height: 1516px;
  margin-top: 83px; }
  .place-genarel .main-place {
    margin-bottom: 57px; }
    .place-genarel .main-place .nav-tabs {
      border-bottom: none;
      margin-top: 49px;
      margin-left: 306px; }
      .place-genarel .main-place .nav-tabs .nav-item {
        padding: 0 11px;
        border: none; }
        .place-genarel .main-place .nav-tabs .nav-item:hover {
          border: none !important; }
        .place-genarel .main-place .nav-tabs .nav-item .nav-link {
          color: white; }
          .place-genarel .main-place .nav-tabs .nav-item .nav-link:hover {
            border: none; }
          .place-genarel .main-place .nav-tabs .nav-item .nav-link:active {
            background-color: #fc887b;
            border: none; }
    .place-genarel .main-place .active {
      background-color: #fc887b !important;
      border: none; }
    .place-genarel .main-place .under__place {
      margin-top: 73px; }
      .place-genarel .main-place .under__place h2 {
        color: white;
        margin-top: 72px; }
      .place-genarel .main-place .under__place .line__place {
        color: white; }
      .place-genarel .main-place .under__place .text__under-place {
        color: white; }

.ct {
  margin-top: 55px;
  padding: 0 15px;
  margin-left: 14px; }
  .ct .img-need-margin {
    margin-top: 44px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-tabs {
    margin-left: 184px !important; } }
.wapper__place-image {
  height: 100%; }

.wapper__place-image .wapeer__place-head {
  display: flex; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter {
    background-color: white; }
    .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer {
      border-bottom: 1px solid #e5e5e5;
      border-top: none;
      padding: 15px 30px; }
      .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content {
        font-family: Lato;
        font-weight: 400;
        font-size: 16px; }
        .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .h3 {
          font-size: 24px;
          font-weight: 700;
          font-family: Playfair Display;
          color: #2b3840; }
        .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content p {
          font-weight: 400;
          font-size: 16px; }
        .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer {
          display: flex;
          justify-content: space-between; }
          .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer i {
            color: #fc887b; }
          .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer .icon__content--footer {
            margin-left: 12px; }
          .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer button {
            padding: 3px 20px;
            border-radius: 16px;
            font-weight: 700;
            border: 1px solid #e5e5e5; }
    .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-heart {
      display: flex;
      border-top: none;
      justify-content: space-between;
      padding: 3px 29px;
      line-height: 43px;
      height: 50px; }
      .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-heart span {
        height: 35px;
        width: 35px;
        border: solid 1px #e5e5e5;
        border-radius: 50px;
        margin-top: 3px; }
        .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-heart span i {
          position: absolute;
          left: 309px;
          margin-top: 10px; }
          .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper-fotter .wapper__silder-heart span i:hover {
            color: #fc887b; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img {
    position: relative; }
    .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img img {
      width: 100%; }
    .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img .lable {
      position: absolute;
      padding: 0;
      top: 22px;
      right: 19px;
      background-color: #d62963;
      border-radius: 17px;
      font-size: 75%;
      font-weight: 700;
      line-height: 21px;
      color: #fff;
      display: inline;
      white-space: nowrap;
      vertical-align: baseline; }
      .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img .lable .popular {
        text-align: center;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        width: 81px;
        height: 5px; }
    .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img .price {
      background-color: #fc887b;
      position: absolute;
      left: 22px;
      border-radius: 13px;
      color: white;
      bottom: 19px;
      width: 65px;
      text-align: center; }
      .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img .price p {
        font-size: 13px;
        font-weight: 700;
        line-height: 28px;
        display: flex;
        padding-right: 10px;
        height: 28px;
        align-items: center;
        margin-bottom: 0;
        margin-left: 12px; }
    .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img .rate {
      float: left;
      height: 46px;
      position: absolute;
      top: 198px;
      right: 11px; }
      .wapper__place-image .wapeer__place-head .wapper__silder-block1 .wapper__silder-img .rate .star-rate {
        font-size: 18px; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate:not(:checked) > input {
    position: absolute;
    top: -9999px; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate:not(:checked) > label:before {
    content: '★ '; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate > input:checked ~ label {
    color: #ffc700; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate:not(:checked) > label:hover,
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate:not(:checked) > label:hover ~ label {
    color: #deb217; }
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate > input:checked + label:hover,
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate > input:checked + label:hover ~ label,
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate > input:checked ~ label:hover,
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate > input:checked ~ label:hover ~ label,
  .wapper__place-image .wapeer__place-head .wapper__silder-block1 .rate > label:hover ~ input:checked ~ label {
    color: #c59b08; }
.wapper__place-image .wapeer__place-under {
  display: flex; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter {
    background-color: white; }
    .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer {
      border-bottom: 1px solid #e5e5e5;
      border-top: none;
      padding: 15px 30px; }
      .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content {
        font-family: Lato;
        font-weight: 400;
        font-size: 16px; }
        .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .h3 {
          font-size: 24px;
          font-weight: 700;
          font-family: Playfair Display;
          color: #2b3840; }
        .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content p {
          font-weight: 400;
          font-size: 16px; }
        .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer {
          display: flex;
          justify-content: space-between; }
          .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer i {
            color: #fc887b; }
          .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer .icon__content--footer {
            margin-left: 12px; }
          .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer button {
            padding: 3px 20px;
            border-radius: 16px;
            font-weight: 700;
            border: 1px solid #e5e5e5; }
    .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-heart {
      display: flex;
      border-top: none;
      justify-content: space-between;
      padding: 3px 29px;
      line-height: 43px;
      height: 50px; }
      .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-heart span > i {
        height: 35px;
        width: 35px;
        border: solid 1px #e5e5e5;
        border-radius: 50px;
        padding: 25%; }
        .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper-fotter .wapper__silder-heart span > i:hover {
          color: #fc887b; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img {
    position: relative; }
    .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img img {
      width: 100%; }
    .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img .lable {
      position: absolute;
      padding: 0;
      top: 22px;
      right: 19px;
      background-color: #d62963;
      border-radius: 17px;
      font-size: 75%;
      font-weight: 700;
      color: #fff;
      display: inline;
      white-space: nowrap;
      vertical-align: baseline; }
      .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img .lable .popular {
        text-align: center;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        width: 81px;
        height: 5px; }
    .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img .price {
      background-color: #fc887b;
      position: absolute;
      left: 22px;
      border-radius: 13px;
      color: white;
      bottom: 19px;
      width: 65px;
      text-align: center; }
      .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img .price p {
        font-size: 13px;
        font-weight: 700;
        line-height: 28px;
        display: flex;
        padding-right: 10px;
        height: 28px;
        align-items: center;
        margin-bottom: 0;
        margin-left: 12px; }
    .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img .rate {
      float: left;
      height: 46px;
      position: absolute;
      top: 198px;
      right: 11px; }
      .wapper__place-image .wapeer__place-under .wapper__silder-block1 .wapper__silder-img .rate .star-rate {
        font-size: 18px; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate:not(:checked) > input {
    position: absolute;
    top: -9999px; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate:not(:checked) > label:before {
    content: '★ '; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate > input:checked ~ label {
    color: #ffc700; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate:not(:checked) > label:hover,
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate:not(:checked) > label:hover ~ label {
    color: #deb217; }
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate > input:checked + label:hover,
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate > input:checked + label:hover ~ label,
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate > input:checked ~ label:hover,
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate > input:checked ~ label:hover ~ label,
  .wapper__place-image .wapeer__place-under .wapper__silder-block1 .rate > label:hover ~ input:checked ~ label {
    color: #c59b08; }

.wapper__silder-heart > span > i {
  height: 35px !important;
  width: 35px;
  border: solid 1px #e5e5e5;
  border-radius: 50px;
  padding: 25%;
  position: unset !important;
  left: unset !important;
  margin-top: unset !important; }

.wapper__silder-heart > span {
  height: unset !important;
  width: unset !important;
  border: unset !important;
  border-radius: unset !important;
  margin-top: unset !important; }

@media (max-width: 767px) {
  .element-button {
    margin-top: -10px; }

  .bg-video {
    height: 200px !important; }

  .text__bg-video {
    display: none !important; }

  .main__bg-video {
    margin-top: 55px; }

  .content__bg-video {
    bottom: 150px !important;
    left: 141px !important; }

  .text-content__under-bg-video {
    padding: 0 !important; }

  .icon-back::before {
    display: none; }

  .icon-back::after {
    display: none; }

  .square_little-element {
    margin: -50px 74px 32px !important; }

  .number__element {
    left: 151px !important; }

  .content__element {
    text-align: center !important; }

  .service-padding {
    padding-top: 50px !important; }

  .nav-tabs {
    display: none !important; }

  .place-genarel {
    height: 3660px !important; }

  .padding-top-sm {
    padding-top: 35px !important; }

  .bg__image-retreat {
    height: 445px !important; }

  .bg__image-retreat .wapper__bg-retreat {
    padding-top: 51px !important; }

  .element_right_app-phone {
    margin-top: 69px !important;
    text-align: center !important; }

  .slider-hide {
    display: none !important; }

  .news-text {
    margin-left: -220px !important; }

  .news {
    margin-left: -195px !important; }

  .rate {
    top: 230px !important; } }
.bg__image-retreat {
  background-image: url("../image/rau-ria_101037347.jpg");
  width: 100%;
  height: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .bg__image-retreat .wapper__bg-retreat {
    padding-top: 175px; }
    .bg__image-retreat .wapper__bg-retreat h2 {
      color: #fff;
      font-size: 59px;
      font-weight: 700;
      text-align: center; }
    .bg__image-retreat .wapper__bg-retreat .content-retreat {
      text-align: center;
      color: #fff;
      font-size: 31px;
      font-weight: 400;
      line-height: 1.5;
      padding-top: 10px; }
    .bg__image-retreat .wapper__bg-retreat .button-retreat button {
      background-color: white;
      color: #2b3840;
      height: 50px;
      width: 186px;
      padding: 0 28px; }

#slide-wipper {
  margin-bottom: 20px; }

.review-slider {
  text-align: center;
  padding-top: 54px; }
  .review-slider .title-main {
    padding-top: 15px;
    padding-left: 5px; }
    .review-slider .title-main h2 {
      color: #2b3840;
      font-size: 34px;
      font-weight: 700; }
  .review-slider .title-line {
    margin-top: -6px;
    margin-left: 18px; }

.title .title-text {
  padding-top: 13px; }

.list-news {
  text-align: center;
  padding-top: 15px; }

.news {
  display: inline-flex;
  margin-left: -100px; }

.news-img img {
  width: 70px;
  height: 70px; }

.news-text {
  margin-left: -214px;
  margin-top: 10px; }
  .news-text h4 {
    font-size: 20px; }

.news-text p {
  color: #fc887b;
  font-size: 14px; }

.quote {
  padding-top: 45px;
  margin-left: 85px; }

.quote-icon {
  color: #fc887b;
  margin-top: 23px;
  margin-left: 78px; }

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-container {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  padding-bottom: 50px; }

.swiper-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition-property: transform;
  margin-left: -35px; }

.mySwiper2 {
  height: 80%;
  width: 100%; }

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding-top: 43px;
  margin-left: 28px; }

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%; }

.mySwiper .swiper-slide-thumb-active .news-img {
  opacity: 1;
  border: 4px  solid #fc887b; }

.app-phone {
  width: 100%;
  background-image: url(../image/AppDownload.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px; }
  .app-phone .row_app-phone {
    display: flex; }
    .app-phone .row_app-phone .lef__app-phone img {
      width: 100%;
      vertical-align: middle;
      display: inline-block; }
    .app-phone .row_app-phone .right__app-phone .element_right_app-phone {
      margin-top: 256px;
      margin-left: 12px; }
      .app-phone .row_app-phone .right__app-phone .element_right_app-phone .img-app {
        padding-bottom: 10px;
        display: flex; }
        .app-phone .row_app-phone .right__app-phone .element_right_app-phone .img-app .google_play img {
          width: 100%; }
        .app-phone .row_app-phone .right__app-phone .element_right_app-phone .img-app .iphone {
          margin-left: 8px; }
          .app-phone .row_app-phone .right__app-phone .element_right_app-phone .img-app .iphone img {
            width: 100%; }
      .app-phone .row_app-phone .right__app-phone .element_right_app-phone .content-text_app-phone {
        padding-bottom: 10px; }
        .app-phone .row_app-phone .right__app-phone .element_right_app-phone .content-text_app-phone h1 {
          font-size: 44px;
          font-weight: 700;
          letter-spacing: 1.4px; }
        .app-phone .row_app-phone .right__app-phone .element_right_app-phone .content-text_app-phone p {
          color: #fc887b;
          line-height: 2; }
          .app-phone .row_app-phone .right__app-phone .element_right_app-phone .content-text_app-phone p span {
            color: black; }
      .app-phone .row_app-phone .right__app-phone .element_right_app-phone .text-app-title {
        padding-bottom: 10px;
        margin-top: -22px; }
        .app-phone .row_app-phone .right__app-phone .element_right_app-phone .text-app-title p {
          font-size: 16px; }

.footer {
  padding-top: 64px;
  color: #ffff;
  background: #2b3840;
  padding-bottom: 60px; }
  .footer .header-footer {
    margin-top: 5px;
    padding-bottom: 55px;
    border-bottom: 1px solid #414c53; }
    .footer .header-footer .footer-logo {
      margin-left: 22px;
      margin-top: 7px; }
    .footer .header-footer .newsletter {
      margin-left: 30px;
      margin-top: 24px; }
      .footer .header-footer .newsletter h1 {
        font-size: 30px; }
    .footer .header-footer .footer-input {
      margin-top: 18px;
      margin-left: -12px; }
      .footer .header-footer .footer-input input {
        width: 330px;
        height: 50px;
        background: #2b3840;
        border: 1px solid #414c53;
        padding-left: 20px; }
      .footer .header-footer .footer-input button {
        margin-left: 27px;
        width: 190px;
        height: 50px;
        background: #fc887b;
        color: #ffff;
        border: none; }
        .footer .header-footer .footer-input button i {
          font-size: 11px; }
      .footer .header-footer .footer-input button, .footer .header-footer .footer-input input:focus {
        outline: none; }

.midle-footer {
  margin-top: 45px; }
  .midle-footer .footer-tittle-main {
    padding-bottom: 42px; }
    .midle-footer .footer-tittle-main::after {
      width: 30px;
      height: 5px;
      background: url(../image/Tittle--Line-.jpg);
      content: "";
      position: absolute;
      top: 47px; }
  .midle-footer .footer-tittle .footer-tittle-text {
    letter-spacing: 1px; }
  .midle-footer .footer-tittle .footer-link {
    padding-bottom: 26px;
    margin-left: -13px;
    margin-top: -2px;
    color: #fc887b; }
    .midle-footer .footer-tittle .footer-link a:hover {
      color: #fc887b; }
  .midle-footer .footer-tittle .footer-tittle-icon ul {
    padding-left: 0;
    list-style-type: none; }
    .midle-footer .footer-tittle .footer-tittle-icon ul li {
      display: inline-block;
      padding: 0 10px 0 0;
      margin-bottom: 0; }
      .midle-footer .footer-tittle .footer-tittle-icon ul li a {
        display: inline-block;
        background: #4867aa !important;
        border-color: #4867aa !important;
        width: 40px;
        height: 40px;
        line-height: 44px;
        color: #fff !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #ccc;
        padding-top: 0px;
        text-align: center; }
        .midle-footer .footer-tittle .footer-tittle-icon ul li a i {
          font-size: 20px; }
  .midle-footer .footer-tittle_1 {
    margin-left: 42px; }
    .midle-footer .footer-tittle_1 .footer-tittle-list {
      padding-top: 21px;
      margin-left: 30px; }
      .midle-footer .footer-tittle_1 .footer-tittle-list ul {
        margin-top: -18px; }
        .midle-footer .footer-tittle_1 .footer-tittle-list ul li {
          padding-bottom: 15px;
          font-size: 14px; }
          .midle-footer .footer-tittle_1 .footer-tittle-list ul li i {
            font-size: 10px;
            margin-left: -35px;
            margin-right: 20px; }
  .midle-footer .footer-tittle_2 {
    margin-left: 37px; }
    .midle-footer .footer-tittle_2 .footer-tittle-list {
      margin-left: 37px; }
      .midle-footer .footer-tittle_2 .footer-tittle-list ul li {
        padding-bottom: 15px;
        font-size: 15px; }
        .midle-footer .footer-tittle_2 .footer-tittle-list ul li i {
          font-size: 10px;
          margin-left: -35px;
          margin-right: 20px; }
  .midle-footer .footer-tittle_3 .footer-icon-phone {
    margin-top: -22px; }
    .midle-footer .footer-tittle_3 .footer-icon-phone i {
      margin-right: 29px;
      padding-bottom: 10px;
      font-size: 29px;
      margin-top: 23px; }
    .midle-footer .footer-tittle_3 .footer-icon-phone p {
      margin-left: 52px;
      font-size: 22px;
      margin-top: -10px;
      color: #fc887b; }
  .midle-footer .footer-tittle_3 .footer-icon-email {
    margin-top: -7px; }
    .midle-footer .footer-tittle_3 .footer-icon-email i {
      margin-right: 29px;
      padding-bottom: 21px;
      font-size: 20px;
      margin-top: 23px; }
    .midle-footer .footer-tittle_3 .footer-icon-email p {
      margin-left: 52px;
      font-size: 22px;
      margin-top: -10px;
      color: #fc887b; }

@media (max-width: 1024px) {
  .header-footer {
    text-align: center; }

  .footer-input {
    margin-top: 18px;
    margin-left: -11px;
    width: 100%; }
    .footer-input input {
      width: auto; }

  .midle-footer .footer-tittle_3 .footer-icon-email p {
    margin-left: 52px;
    font-size: 18px;
    margin-top: -10px;
    color: #fc887b; } }
@media (max-width: 425px) {
  .header-footer {
    text-align: center; }

  .footer .header-footer .footer-input {
    width: 100%; }
    .footer .header-footer .footer-input input {
      width: 300px; }
    .footer .header-footer .footer-input button {
      margin-top: 10px; } }
.under-footer {
  color: #c4c4c4;
  background-color: #171717;
  padding-top: 28px;
  padding-bottom: 28px; }
  .under-footer .footer-middle, .under-footer p {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px; }
    .under-footer .footer-middle a, .under-footer p a {
      color: #fc887b; }
